/* =========================
   L'OCCITANE SERIF
   ========================= */

@font-face {
    font-family: "LOccitaneSerif";
    src: url("LOccitaneSerif-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LOccitaneSerif";
    src: url("LOccitaneSerif-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "LOccitaneSerif";
    src: url("LOccitaneSerif-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LOccitaneSerif";
    src: url("LOccitaneSerif-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


/* =========================
   L'OCCITANE SANS
   ========================= */

@font-face {
    font-family: "LOccitaneSans";
    src: url("LOccitaneSans-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LOccitaneSans";
    src: url("LOccitaneSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LOccitaneSans";
    src: url("LOccitaneSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "LOccitaneSans";
    src: url("LOccitaneSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LOccitaneSans";
    src: url("LOccitaneSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LOccitaneSans";
    src: url("LOccitaneSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
